Skip to content
Search or jump to…
Pull requests
Issues
Codespaces
Marketplace
Explore
 
@chaitanya1654 
chaitanya1654
/
WT-Activity-4
Public
Cannot fork because you own this repository and are not a member of any organizations.
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
WT-Activity-4/style2.css
@chaitanya1654
chaitanya1654 Create style2.css
Latest commit 7b00ff0 4 days ago
 History
 1 contributor
23 lines (23 sloc)  311 Bytes

.p1 {
  font-family: Verdana, "DejaVu Sans", sans-serif;
  background-color:pink;
}
#two
{
color:blue;
  font-size:32px;
}
.p3 
{
  font-size:24px;
  background-color:pink;
}
#four
{
  background-color:green;
  font-size:24px;
}
  .p5
font-family: Verdana, "DejaVu Sans", sans-serif;
  background-color:pink;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
WT-Activity-4/style2.css at main · chaitanya1654/WT-Activity-4
